target
*.class
*.jar
*.war
*.nar
*.ear
*.log
.idea
.vscode
*.iml
*.ipr
*.iws
.classpath
.project
.settings
.git
.gitignore
**/application-local.properties
**/application-local.yml
README.md
Dockerfile
.dockerignore
mvnw
mvnw.cmd
.mvn
../contract/HOGS_CARRIER_DIAGRAM.png
.env