APP_PUBLIC_PORT=8081
MONGO_EMAIL_NAME=EMAILS
MONGO_EMAIL_USER=admin
MONGO_EMAIL_PASSWORD=admin123
MONGO_EMAIL_AUTH_DB=admin
MONGO_EMAIL_PORT=27017
MONGO_EMAIL_URI=mongodb://${MONGO_EMAIL_AUTH_DB}:${MONGO_EMAIL_PASSWORD}@ars_backend_email_mongodb:${MONGO_EMAIL_PORT}/${MONGO_EMAIL_NAME}?authSource=admin

ABSTRACT_API_KEY=591525dasggsdastqtt
ABSTRACT_BASE_URL=https://emailreputation.abstractapi.com/v1/
HOGS_API_LOGIN_URL=http://api.st-hogs-carrier.dev.hogs.live/api/auth/login
HOGS_API_ARS_HASH=secret-hash
HOGS_API_LOGIN=ars_bot
HOGS_API_PASSWORD=123
HOGS_API_BASE_URL=http://api.st-hogs-carrier.dev.hogs.live/api

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=

# APLIKACJE
NODE_ENV=production
GOOGLE_API_KEY=AIzaSyBVQ2NbdWD0PYcek7fYsetqSZfHorrLbBU

NEXT_PUBLIC_CONTRACT_URL=http://contract.hogs-carrier.inz.ovh
HOGS_API_COORDINATORS_URL='to co po base url od /v1/'
HOGS_API_GET_CONTRACT_URL=jw

EMAIL_VERIFY_API_URL=http://api.email-verify.hogs-carrier.inz.ovh


